*{
  margin: 0;
  padding: 0;
  font-family: 'Alan Sans';
  box-sizing: border-box;

}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  width: 100%;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  
}

.card{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-height: 400px;
  width: 330px;
  border-radius: 30px;
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
  
}

.top{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #86836D;
  padding: 7px;
}

.top button{
  font-family: "Alan Sans";
  display: flex;
  gap: 2px;
  font-size: 14px;
  font-weight: 200;
  align-items: center;
  border: 2px solid #F2F0EF;
  padding: 4px 8px;
  background-color: #fff;
  color: #86836D;
  border-radius: 5px;
  transition: all 0.25s;
}

.top button:hover{
  cursor: pointer;
  background-color: #111;
  color: #fff;
  border: 2px solid #111;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.top button:active{
  box-shadow: none;
  background-color: #fff;
  color: #86836D;
  border: 2px solid #F2F0EF;
}

.center h3{
  font-weight: 350;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.center h3 span{
  font-weight: 300;
  font-size: 11px;
  color: #86836D;
  margin-left: 10px;
}

.center h2{
  margin-bottom: 5px;
  font-weight: 500;
}

.center .tag{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  padding: 3px 6px;
  font-weight: 400;
  border-radius: 7px;
  transition: all 0.25s;
}

.time{
  font-weight: 500;
}

.center .tag h4:hover{
  cursor: pointer;
  color: #fff;
  background-color: #111;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.designation{
  font-weight: 500;
}



.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #86836D;
  padding-top: 15px;
}

.bottom h4{
  font-size: 20px;
  font-weight: 400;
}

.bottom h6{
  color: #86836D;
  font-weight: 350;
  font-size: 11px;
}

.bottom button{
  background-color: #111;
  color: #fff;
  border: 1px solid #111;
  padding: 8px 18px;
  font-size: 15px;
  border-radius: 7px;
  transition: all 0.25s;
}

.bottom button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #111;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.bottom button:active{
  box-shadow: none;
  background-color: #111;
  color: #fff;
}