*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

.card{
  width: 400px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
  margin: 10px;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;

}

.card p{
  margin: 20px 0;
}

.card button{
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  color: #333;
  margin-top: 8px;
  border: none;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
