*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html, 
body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: crimson;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.hello{
  font-size: 30px;
  background-color: aqua;
  padding-left: 35vh;
  margin: 20px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-radius: 7px;

}

.nav{
  background-color: blueviolet;
  padding: 2vmin;
}