.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightseagreen;
  padding: 20px 27px;
}

.header button{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 7px;
  border: none;
}

.logo{
  text-decoration: underline;
}